<div class="card">
    <div class="card-header">
        <h3 class="card-title">Danh mục sản phảm</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table class="table table-bordered">
            <tr>
                <th style="width: 10px">#</th>
                <th>ID</th>
                <th>Tên sản phẩm</th>
                <th style="width: 20%">Trạng thái</th>
            </tr>
            <tr ng-repeat="item in productCategories">
                <td>{{item.ID}}</td>
                <td>{{item.ID}}</td>
                <td>{{item.Name}}</td>
                <td><span class="badge bg-danger">{{item.Status}}</span></td>
            </tr>
          
        </table>
    </div>
    <!-- /.card-body -->
    <div class="card-footer clearfix">
        <ul class="pagination pagination-sm m-0 float-right">
            <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
        </ul>
    </div>
</div>